{php}
if (!empty(Query::$get['page'])) {
            // Убираем параметр 'page' из URL
            $current_url = 'https://' . $_SERVER['HTTP_HOST'] . strtok($_SERVER['REQUEST_URI'], '?');
            //$parts = explode('/', current_url);
            //$canonical = $parts[0];
            $canonical = $current_url;
            echo '<link rel="canonical" href="' . $canonical . '"/>';
}else if(preg_match('[/katalog/stoly]',$_SERVER['REQUEST_URI'])){
	$spl = preg_split('[/]',$_SERVER['REQUEST_URI']);
	$url1 = 'https://mf78.ru/katalog/mebel-dlya-kafe/stoly/';
	$url2 = 'https://mf78.ru/katalog/mebel-dlja-aptek/';
	$url3 = 'https://mf78.ru/katalog/ofisnaya-mebel/stoly/komputernye/';
    $url4 = 'https://mf78.ru/katalog/ofisnaya-mebel/stoly/zhurnalnye/';
    $url5 = 'https://mf78.ru/katalog/ofisnaya-mebel/stoly/stoly-dlja-peregovorov/';

    $meeting = ['stol-knizhka', 'stol-dlja-peregovorov-oval' ,'peregovornyjj-stol-square', 'konferenc-stol-orekh', 'konferenc-stol-mst-2412', 'konferenc-stol-mst-120', 'futura-new'];
	$magazin      = ['tct-106', 'st-500', 'shakhmaty', 'quadro', 'nostalgi', 'lider', 'kub', 'coffee-tea', 'californiya-m', 'ast-105'];
    $bar_items    = ['stol-loft-cross','barnyjj-stol-loft','barnyj-stol-wood','barnyj-stol-square','barnyj-stol-straight'];
	$viclad_items = ['kassovoe-oborudovanie-a53','kabinet-aptechnyjj-a63','kabinet-aptechnyjj-a64','straight-line','stol-loft-s-prjamougolnojj-stoleshnicejj','stol-loft-konus-s-prjamougolnojj-stoleshnicejj','vitrina-tm0011','vystavochnaya','vito','barnyj-stol-wood','stol-loft-cross'];
	$offise_items = ['konferenc-stol-orekh','straight-line','sartoria','farfalla','topolino','massimo','stol-teacher','stol-s-tumbojj-loft','stol-s-podkatnojj-tumbojj-loft','stol-zigzag-serii-loft-s-tumbojj','vito','straight-line-metall-legs','comfort','milan','stol-uglovoj-tct-1820-2020','stol-rabochij-tdt-197','nostalgi','futura-new'];
	
	for($i = 0;$i<=count($meeting)-1;$i++){
		if($spl[count($spl)-1] == $meeting[$i]){
			echo '<link rel="canonical" href="'.$url5.$spl[count($spl)-1].'"/>';
			break;
		}
	}

    for($i = 0;$i<=count($magazin)-1;$i++){
		if($spl[count($spl)-1] == $magazin[$i]){
			echo '<link rel="canonical" href="'.$url4.$spl[count($spl)-1].'"/>';
			break;
		}
	}
    
    for($i = 0;$i<=count($bar_items)-1;$i++){
		if($spl[count($spl)-1] == $bar_items[$i]){
			echo '<link rel="canonical" href="'.$url1.$spl[count($spl)-1].'"/>';
			break;
		}
	}

	for($i = 0;$i<=count($viclad_items)-1;$i++){
		if($spl[count($spl)-1] == $viclad_items[$i]){
			echo '<link rel="canonical" href="'.$url3.$spl[count($spl)-1].'"/>';  // was $url2
			break;
		}
	}

	for($i = 0;$i<=count($offise_items)-1;$i++){
		if($spl[count($spl)-1] == $offise_items[$i]){
			echo '<link rel="canonical" href="'.$url3.$spl[count($spl)-1].'"/>';
			break;
		}
	}


	//echo '<link rel="canonical" href="https://mf78.ru/katalog/stoly/'.$spl[count($spl)-1].'"/>';
     $current_url = 'https://' . $_SERVER['HTTP_HOST'] . strtok($_SERVER['REQUEST_URI'], '?');
            $parts = explode('/', current_url);
            $canonical = $parts[1];
   // echo '<link rel="canonical" href="https://mf78.ru/katalog/'.$spl[count($spl)-1].'"/>';
}else{
    $current_url = "https://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
    echo '<link rel="canonical" href="' . $current_url . '" />';
}